In [15]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os

%matplotlib notebook

In [16]:
os.getcwd()

'/Users/laviusmotileng/Desktop/AIML'

In [17]:
os.listdir()

['Setup.sh',
 '.DS_Store',
 'LICENSE',
 'Untitled.ipynb',
 'Resources',
 'Utils',
 'README.MD',
 '.gitignore',
 '.ipynb_checkpoints',
 'prework',
 '.git']

In [18]:
sampleData = pd.read_csv("prework/sample.csv");

In [19]:
sampleData.head()

                              User;Name;Date;changes
0       Category;Category;Date[dd/MM/yyyy HH:mm];int
1  194.210.1.51;Bonnet_phrygien;19/10/2004 11:02;163
2           Ske;Bonnet_phrygien;19/10/2004 12:11;751
3            Ske;Bonnet_phrygien;19/10/2004 12:12;17
4   83.27.202.42;Bonnet_phrygien;21/10/2004 10:39;42

In [20]:
sampleData.describe()

                                   User;Name;Date;changes
count                                                 999
unique                                                997
top     86.212.193.123;Caroline_chérie_(1951);26/10/20...
freq                                                    2