#  <span style="font-family: Arial; font-weight:bold;font-size:1.9em;color:#0e92ea"> Cardio Good Fitness </span>

<p align="center">
The data is about customers of the treadmill product(s) of a retail store called <b>Cardio Good Fitness</b>. This Dashboards explores the CSV data provided, generate key business insights identifying customer profiles and recommendations on the actions the company could take when targeting new customers.
</p>

###  <span style="font-family: Arial; font-weight:bold;font-size:1.9em;color:#0e92ea"> Contents:
  
<font color=darkblue>

&nbsp;

1. Import necessary libraries and Load Data
2. Univariate Data Analysis
3. Checking distribution of data
4. Multivariate Data Analysis
5. Conclusion and Recommendations

####  <span style="font-family: Arial; font-weight:bold;font-size:1.9em;color:#0e92ea"> Setup (Import Modules):

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pandas_profiling

sns.set(color_codes=True)
%matplotlib inline

main_data= pd.read_csv('CardioGoodFitness.csv');

####  <span style="font-family: Arial; font-weight:bold;font-size:1.9em;color:#0e92ea"> 1. Scan The Data:
   
<p align="center">
Eplore the data structure
</p>

In [2]:
print("Rows x Columns = " + str(main_data.shape)) # Print out the dimensions of the data frame

Rows x Columns = (180, 9)

In [3]:
main_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Product        180 non-null    object
 1   Age            180 non-null    int64
 2   Gender         180 non-null    object
 3   Education      180 non-null    int64
 4   MaritalStatus  180 non-null    object
 5   Usage          180 non-null    int64
 6   Fitness        180 non-null    int64
 7   Income         180 non-null    int64
 8   Miles          180 non-null    int64
dtypes: int64(6), object(3)
memory usage: 12.8+ KB

In [4]:
main_data.head()

  Product  Age  Gender  Education MaritalStatus  Usage  Fitness  Income  Miles
0   TM195   18    Male         14        Single      3        4   29562    112
1   TM195   19    Male         15        Single      2        3   31836     75
2   TM195   19  Female         14     Partnered      4        3   30699     66
3   TM195   19    Male         12        Single      3        3   32973     85
4   TM195   20    Male         13     Partnered      4        2   35247     47

In [5]:
#pandas_profiling.ProfileReport(main_data)

####  <span style="font-family: Arial; font-weight:bold;font-size:1.9em;color:#0e92ea"> 2. Univariate Data Analysis:
   
<p align="center">
Eplore indiviual columns.
</p>

####  <span style="font-family: Arial; font-weight:bold;font-size:1.9em;color:#0e92ea"> 3. Multivariate Data Analysis:
   
<p align="center">
Multivariate Data Analysis
</p>

####  <span style="font-family: Arial; font-weight:bold;font-size:1.9em;color:#0e92ea"> 4. Recommendations:
   
<p align="center">
Multivariate Data Analysis
</p>