#  <span style="font-family: Arial; font-weight:bold;font-size:1.9em;color:#0e92ea"> Cardio Good Fitness </span>

<p align="center">
The data is about customers of the treadmill product(s) of a retail store called <b>Cardio Good Fitness</b>. This Dashboards explores the CSV data provided, generate key business insights identifying customer profiles and recommendations on the actions the company could take when targeting new customers.
</p>

###  <span style="font-family: Arial; font-weight:bold;font-size:1.9em;color:#0e92ea"> Contents:
  
<font color=darkblue>

&nbsp;

1. Import necessary libraries and Load Data
2. Univariate Data Analysis
3. Checking distribution of data
4. Multivariate Data Analysis
5. Conclusion and Recommendations

####  <span style="font-family: Arial; font-weight:bold;font-size:1.9em;color:#0e92ea"> Setup (Import Modules):

In [52]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pandas_profiling                            # Used to create profile summary of the data

sns.set(color_codes=True)                          # Displays charts with background colors
%matplotlib inline                                 # Display output directly on the cell that produced it

main_data= pd.read_csv('CardioGoodFitness.csv');   # Load the data

####  <span style="font-family: Arial; font-weight:bold;font-size:1.9em;color:#0e92ea"> 1. Scan The Data:
   
<p align="center">
Eplore the data structure
</p>

In [53]:
nulls_series             = main_data.isna().sum()    # Get a series counting number of empty values for each column
nonnulls_sereis          = main_data.notnull().sum() # Get a series counting number of non empty valuesfor each column 
column_datatypes         = main_data.dtypes          # Get a series containing data types for each column 


nulls_count_df = pd.concat(
    [
        nulls_series, 
        nonnulls_sereis, 
        column_datatypes
    ],               
    axis=1,                                          # Concatenate using columns as axis. 
    keys=["Nulls", "Non-Nulls", "Type"],             # Add Columns as for the nulls and non-nulls values
    sort=True)


print(" ")
print("Rows x Columns = " + str(main_data.shape))    # Print out the dimensions of the data frame


print(" ")
print(nulls_count_df)                                # Display the nulls count table

Rows x Columns = (180, 9)

               Nulls  Non-Nulls    Type
Age                0        180   int64
Education          0        180   int64
Fitness            0        180   int64
Gender             0        180  object
Income             0        180   int64
MaritalStatus      0        180  object
Miles              0        180   int64
Product            0        180  object
Usage              0        180   int64

In [28]:
print(np.arange(0,15))
print(np.zeros(15))

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14]
[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [4]:
main_data.head()

  Product  Age  Gender  Education MaritalStatus  Usage  Fitness  Income  Miles
0   TM195   18    Male         14        Single      3        4   29562    112
1   TM195   19    Male         15        Single      2        3   31836     75
2   TM195   19  Female         14     Partnered      4        3   30699     66
3   TM195   19    Male         12        Single      3        3   32973     85
4   TM195   20    Male         13     Partnered      4        2   35247     47

In [5]:
#pandas_profiling.ProfileReport(main_data)

####  <span style="font-family: Arial; font-weight:bold;font-size:1.9em;color:#0e92ea"> 2. Univariate Data Analysis:
   
<p align="center">
Eplore indiviual columns.
</p>

####  <span style="font-family: Arial; font-weight:bold;font-size:1.9em;color:#0e92ea"> 3. Multivariate Data Analysis:
   
<p align="center">
Multivariate Data Analysis
</p>

####  <span style="font-family: Arial; font-weight:bold;font-size:1.9em;color:#0e92ea"> 4. Recommendations:
   
<p align="center">
Multivariate Data Analysis
</p>